In [11]:
import pandas as pd
import os

from pymongo import MongoClient

In [2]:
def datasets_to_dataframes(path):
    
    df_tipos_infracoes_2018 = pd.read_excel(path + "/tipos-infracoes-2018.xlsx")
    df_tipos_infracoes_2018 = df_tipos_infracoes_2018.rename(columns = {'Unnamed: 0': 'TIPO DE INFRACAO'})
    
    return df_tipos_infracoes_2018

In [3]:
path = os.getcwd() + "/datasets"

df_tipos_infracoes_2018 = datasets_to_dataframes(path)

In [17]:
client = MongoClient("mongodb://localhost:27017/")

def dataframe_to_mongo(df, collection):
    db = client['dados_de_transito']
    
    records = df.to_dict('records')
    db[collection].insert(records)

In [20]:
client = MongoClient("mongodb://localhost:27017/")

def mongo_to_dataframe(collection):
    db = client['dados_de_transito']
    
    cursor = db[collection].find()
    
    df = pd.DataFrame(list(cursor))
    del df['_id']
    
    return df

In [18]:
dataframe_to_mongo(df_tipos_infracoes_2018, "tipos_infracoes_2018")

/home/iago/anaconda3/envs/tccEnv/lib/python3.7/site-packages/ipykernel_launcher.py:7: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  import sys

In [24]:
test = mongo_to_dataframe("tipos_infracoes_2018")
test.head(n=20)

,TIPO DE INFRACAO,JAN,FEV,MAR,ABR,MAI,JUN,JUL,AGO,SET,OUT,NOV,DEZ
0,ALCOOLEMIA,912,764,324,356,742,334,759,807,892,567,571,610
1,INABILITADO,623,367,169,271,443,179,473,540,448,404,286,289
2,VEÍCULO NÃO LICENCIADO,1602,808,439,349,927,397,922,917,758,877,700,747
3,DIRIGIR UTILIZANDO TELEFONE CELULAR,709,484,202,366,405,188,420,456,377,412,273,321
4,CINTO DE SEGURANÇA,4372,3431,941,1223,2521,1222,3098,3143,2028,3034,2686,2587
5,CADEIRINHA,138,169,42,53,115,52,116,137,96,132,106,97
6,FAIXA DE PEDESTRE,635,482,239,303,568,268,482,452,446,526,503,399
7,ESTACIONAMENTO,21618,12398,5960,7318,8984,4159,11131,10767,10027,11737,9622,8606
8,AVANÇO DE SEMÁFORO,8475,6488,4718,7690,8721,2995,6467,7214,5728,6497,7878,3780